@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android' ;
    src: url('../fonts/idroid.otf') format('opentype');/* ".." volta para o arquivo dentro de fonts*/
}
 
:root{/* declara variavel em css*/
    --cor1:   #c5ebd6;
    --cor2:   #0cd064;
    --cor3:   #259658;
    --cor4:   #0b6432;
    --cor5:   #074823;
    

    --font-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'Android',cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);

}
a.externo::after{/*declara simbolo depois da frase*/
   content:'00A0\1F517' ;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    
}
header >p{
    font-family: var(--font-padrao);
    color: white;
    font-size: 1.2em;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
    text-shadow: 2px 2px 0px #00000072;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px #00000072;
    
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    
}
nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    transition-duration: 0.5s;/*duracão da transação*/
}
nav >a:hover {
    background-color: var(--cor3);
    color: var(--cor5);

      

}
main{
    
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.529);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 main h1{
    font-family: var(--fonte-android);
   color: var(--cor4);
   font-weight: normal;
}
main  h2{

    font-family: var(--fonte-android);
    color: var(--cor4);
    font-weight: normal;
}
main p{
    margin: 15px  0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main img{
    width: 100%;
}
div.video{
    background-color: var(--cor4);
    margin: 30px;
    margin: 0px -20px 20px -20px ;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;
   
}
div.video > iframe{
     position: absolute;
     top:5%;
     left:5% ;
     width: 90%;
     height: 90% ;
    

}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;

}
article  a{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bolder;
    background-color: var(--cor2);
    

    
}
 a:hover { 
    text-decoration: underline;
    color:var(--cor4)
    
}
aside{
background-color: var(--cor2);
padding: 10px;
border-radius: 10px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.529);

}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
    


}
aside > ul{
    list-style-type: '\2714\00A0\00A0';/*coloca simbolo na lista*/
    list-style-position: inside; /*ajusta a posicao da lista*/
    columns: 2; /*divide a lista*/ 
}
footer{
    background-color: var(--cor5);
    color: var(--cor1);
    text-align: center;
    font-size: 0.8em;
}
